<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Cadastro de filme</title>
</head>
<body>

<div layout:fragment="conteudo">

    <h1>Cadastro de Filme</h1>
        <form action="/filmes" method="post">
            <div>
                <label for="nome">Nome:</label>
                <input id="nome" name="nome" th:value="${informacaoFilme.nome}">
            </div>

            <br>

            <div>
                <label for="duracao">Duração (em minutos):</label>
                <input id="duracao" name="duracaoEmMinutos" th:value="${informacaoFilme.duracaoEmMinutos}">
            </div>

            <br>

            <div>
                <label for="anoLancamento">Ano de lancamento:</label>
                <input id="anoLancamento" name="anoLancamento" th:value="${informacaoFilme.anoDeLancamento}">
            </div>

            <br>

            <div>
                <label for="genero">Gênero:</label>
                <input id="genero" name="genero" th:value="${informacaoFilme.genero}">
            </div>

            <br>

            <button type="submit">Cadastrar</button>
        </form>
</div>

</body>
</html>